# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't lint coverage output
coverage
# don't lint eslintrc
.eslintrc.js

# don't lint ea-generator folder since it contains invalid typescript syntax
scripts/generator-adapter

.yarn
.vscode
